.heading{
  margin: 0 auto;
  width: 70%;
}
.gridcontainer {
  margin: 0 auto;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.griditem {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 4px;
}

.title{
font-style: italic;
}
.view{
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.view:hover{
  filter: grayscale(100%);
  background-color: #fff;
  color: #333;
}
@media (max-width: 700px) {
  .gridcontainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}