

.col01 img {
  display: none;
}

.col01 .textcontent h2{
  font-size: 3rem;
  font-style: italic;
}

.col01 .textcontent p{
  letter-spacing: 1px;
  line-height: 1.5;
}

@media screen and (min-width: 500px) {
  .rowcontainer1 {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .col01 {
    width: 50vw;
    height: 850px;
  }
  .imag1{
    height: 85%;
  }
  .col01 img {
    display: inline-block;
    width: 100%;
    max-width: 100%;
  }
  .col01 .textcontent {
    box-sizing: border-box;
    padding: 10px;
 
  }
 
}
